.modal-content {
    max-height: 95vh;
    overflow-y: auto;
}
.modal-body {
    overflow: auto;
}
.modal-body > pre {
    padding-bottom: 20px;
}

.btn-header .oi {
    transition: .3s transform ease-in-out;
}
.btn-header.collapsed .oi {
    transform: rotate(90deg)
}