.table {
    max-width: 100%;
}
.modal-content {
    max-height: 95vh;
    overflow-y: auto;
}
.modal-body {
    overflow: auto;
}
.table > tbody > tr > td.message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}